.header {
  display: flex;
  height: 80px;
  background-color: rgb(50, 167, 145);
  justify-content: space-around;
}

.trybewarts-login {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
}

.ratio {
  display: flex;
  flex-direction: row;
  align-items: row;
}

.full-name {
  display: flex;
  flex-direction: row;
  align-items: row;
}

.email-casa {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  margin-left: 100px;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-top: 30px;
  margin-left: 100px;
}

.footer {
  display: flex;
  margin-left: 100px;
}
